<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- fonts links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    <!-- styling links -->
    <link rel="stylesheet" href="../static/styles/normalize.css">
    <link rel="stylesheet" href="../static/styles/main_style.css">
    <title>Shortly</title>
</head>

<body>
    <header>
        <div class="header_container">
            <nav>
                <h1>Shortly</h1>
                <a href="" class="features">Features</a>
                <a href="" class="pricing">Pricing</a>
                <a href="" class="resources">resources</a>
            </nav>
            <div class="login_sigup">
                <div class="login">Login</div>
                <div class="signup">sign Up</div>
            </div>
        </div>
    </header>
    <div class="global_container">
        <div class="first_card">
            <div class="info">
                <h1>More than just shorter links</h1>
                <p>
                    Build your brand's recognission and get detaled insights on how your links are performing.
                </p>
                <div class="get_started">
                    <a href="#input_url">Get Started</a>
                </div>
            </div>
            <div class="temp_photo">
                <!-- <img src="../static/images/illustration-working.svg" alt=""> -->
            </div>
        </div>
        <div class="input_card">
            <input type="text" placeholder="Shorten a link here..." id="input_url">
            <div class="shorten_it">Shorten it!</div>
        </div>
        <div class="advanced_card">
            <h1>Advanced Statistics</h1>
            <p>
                Track how your links are performing across the web with our advanced statistics dashboard.
            </p>
        </div>
        <div class="advanced_cards">
            <div class="card">
                <div class="card_logo"></div>
                <h1>Brand Recognission</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate at perferendis sed dicta beatae
                    et ea, molestiae suscipit quos, accusantium sit ducimus. Maiores deleniti delectus quam est tempora!
                    Non, at.</p>
            </div>
            <div class="card">
                <div class="card_logo"></div>
                <h1>Brand Recognission</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate at perferendis sed dicta beatae
                    et ea, molestiae suscipit quos, accusantium sit ducimus. Maiores deleniti delectus quam est tempora!
                    Non, at.</p>
            </div>
            <div class="card">
                <div class="card_logo"></div>
                <h1>Brand Recognission</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptate at perferendis sed dicta beatae
                    et ea, molestiae suscipit quos, accusantium sit ducimus. Maiores deleniti delectus quam est tempora!
                    Non, at.</p>
            </div>
        </div>
        <div class="end_page">
            <h1>Boost your links today</h1>
            <button>get started</button>
        </div>
        <footer>
            <div class="log">Shortly</div>
            <div class="features">
                <h1>Features</h1>
                <ul>
                    <li>
                        <a href="">Link Shortening</a>
                    </li>
                    <li>
                        <a href="">Branded Links</a>
                    </li>
                    <li>
                        <a href="">Analytics</a>
                    </li>
                </ul>
            </div>
            <div class="resources">
                <h1>Resources</h1>
                <ul>
                    <li>
                        <a href="">Blog</a>
                    </li>
                    <li>
                        <a href="">Developers</a>
                    </li>
                    <li>
                        <a href="">Support</a>
                    </li>
                </ul>
            </div>
            <div class="company">
                <h1>Company</h1>
                <ul>
                    <li>
                        <a href="">About</a>
                    </li>
                    <li>
                        <a href="">Our Team</a>
                    </li>
                    <li>
                        <a href="">Careers</a>
                    </li>
                    <li>
                        <a href="">Contact</a>
                    </li>
                </ul>
            </div>
            <div class="connection">
                <img src="../static/images/icon-facebook.svg" alt="not found">
                <img src="../static/images/icon-twitter.svg" alt="not found">
                <img src="../static/images/icon-pinterest.svg" alt="not found">
                <img src="../static/images/icon-instagram.svg" alt="not found">
            </div>
        </footer>
    </div>
</body>

</html>
