<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles/normalize.css">
    <link rel="stylesheet" href="../static/styles/style.css">
    <!-- <link rel="icon" href="../static/images/1.png"> too larg for an icon -->
    <!-- font links -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&display=swap"
        rel="stylesheet">
    <title>MTB</title>
</head>

<body>
    <header>
        <div class="logo">MTB</div>
        <nav>
            <a href="https://www.linkedin.com/in/amir-elsayed-/" class="linkedin" target="_blank">LinkedIn</a>
            <a href="https://github.com/amiresaye6" class="Github" target="_blank">Github</a>
        </nav>
    </header>
    <section>
        <div class="body">
            <div class="container">
                <div class="photo">
                    <img src="../static/images/1.png" alt="photo1" id="imgOne">
                </div>
                <div class="photo">
                    <img src="../static/images/2.png" alt="photo2" id="imgTwo">
                </div>
                <div class="photo">
                    <img src="../static/images/3.png" alt="photo3" id="imgThree">
                </div>
                <div class="photo">
                    <img src="../static/images/4.png" alt="photo4" id="imgFour">
                </div>
            </div>
            <div class="main_photo">
                <div class="info">
                    <h1 id="name">name</h1>
                    <h2 id="price">price</h2>
                </div>
                <img src="../static/images/6.png" alt="img not found" id="mainPhoto" class="main_img">
            </div>
        </div>
        </div>
    </section>
    <footer>
        <p><a href="amiralsayed.tech">Amir Elsayed</a></p>
    </footer>
    <script src="../static/js/script.js"></script>
</body>

</html>
