<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gourmet au Catering</title>
    <link rel="stylesheet" href="../static/styles/normalize.css">
    <link rel="stylesheet" href="../static/styles/main_style.css">
</head>

<body>
    <header>
        <div class="logo">Gourmet au Catering</div>
        <nav>
            <a href="#about" class="about">About</a>
            <a href="#menu" class="menu">Menu</a>
            <a href="#contact" class="contact">Contact</a>
        </nav>
    </header>
    <div class="body">
        <div class="body_content">
            Le Catering
        </div>
    </div>
    <div class="main_container">
        <div class="about_card card">
            <div class="photo">
                <img src="../static/images/about.jpg" alt="About">
            </div>
            <div class="about_info">
                <h1 id="about">About Catering</h1>
                <h3>Tradition since 1889
                </h3>
                <p class="first_p">
                    The Catering was founded in blabla by Mr. Smith in lorem ipsum dolor sit amet, consectetur
                    adipiscing elit consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                    dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut
                    aliquip ex ea commodo consequat. Duis aute iruredolor in reprehenderit in voluptate velit esse
                    cillum dolore eu fugiat nulla pariatur.We only use <span class="seasonal">seasonal</span>
                    ingredients.
                </p>
                <p class="second_p">
                    Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim
                    id est laborum consectetur adipiscing elit, sed do eiusmod temporincididunt ut labore et dolore
                    magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip
                    ex ea commodo consequat.
                </p>
            </div>
        </div>
        <div class="menu_card card">
            <div class="about_info">
                <h1 id="menu">Our Menu</h1>
                <div class="menu_items">
                    <div class="item">Bread Basket</div>
                    <div class="item_info">Assortment of fresh baked fruit breads and muffins 5.50</div>
                    <div class="item">Honey Almond Granola with Fruits</div>
                    <div class="item_info">Natural cereal of honey toasted oats, raisins, almonds and dates 7.00
                    </div>
                    <div class="item">Belgian Waffle</div>
                    <div class="item_info">Vanilla flavored batter with malted flour 7.50</div>
                    <div class="item">Scrambled eggs</div>
                    <div class="item_info">Scrambled eggs, roasted red pepper and garlic, with green onions 7.50
                    </div>
                    <div class="item">Blueberry Pancakes</div>
                    <div class="item_info">With syrup, butter and lots of berries 8.50</div>
                </div>
            </div>
            <div class="photo">
                <img src="../static/images/menu.jpg" alt="Menu" id="test">
            </div>
        </div>
        <div class="contac">
            <h1>Contact
            </h1>
            <p>
                We offer full-service catering for any event, large or small. We understand your needs and we will
                cater the food to satisfy the biggerst criteria of them all, both look and taste. Do not hesitate to
                contact us.
            </p>
            <p class="location">
                Catering Service, 42nd Living St, 43043 New York, NY
            </p>
            <p class="phone">
                You can also contact us by phone 00553123-2323 or email catering@catering.com, or you can send us a
                message here:
            </p>
        </div>
        <form action="" class="contact" id="contact">
            <input type="text" placeholder="Name" required>
            <input type="number" name="how_much" id="how_much" placeholder="How Much" , required>
            <input type="date" name="date" id="date" placeholder="">
            <textarea name="msg" id="msg">Message / Special Requirements</textarea>
            <button>Send Message</button>
        </form>
    </div>
    <footer>
        Powered by <a href="">Amir</a>
    </footer>
</body>

</html>
